<h1>Welcome to count repeated WORDS</h1>
<form action="/count">
  <div class="form-group">
    <label for="word">Select the word to be counted.</label>
    <input id="word" name="word" class="form-control" type="text">
  </div>
  <div class="form-group">
    <label for="line">Enter a sentence.</label>
    <input id="line" name="line" class="form-contol" type="text">
  </div>
  <button type="submit" class="btn-success">Send</button>
</form>
